
    <table class="table table-dark" >
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Comprar</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listaService.listaCompras">
        <td class="m-5" [ngClass]="{'comprados' : item.carrinho}">{{item.nome}}</td>
        <td class="m-5" [ngClass]="{'comprados' : item.carrinho}">{{item.preco}}€</td>
        <td> <p (click)="Comprar(item)"> Comprar</p></td>
      </tr>
    </tbody>
    </table>
