<div class="row">
  <div class="col-6"> <img src="AvatarMaker.png" alt="image"></div>
  <div class="col-6">
    <h2 class="titulo">Alexandre Pereira</h2>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque lobortis ipsum interdum bibendum. Sed pellentesque turpis sed mollis imperdiet. Sed a pellentesque nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Integer vel ex nec metus scelerisque elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque sed nunc eu libero feugiat tempor vitae nec erat. Nullam ac nibh vitae ex congue varius.
      Sed dictum ipsum sed vehicula feugiat. Proin laoreet scelerisque venenatis. Fusce finibus nibh quis turpis suscipit, eu interdum sapien lacinia. Duis vel mi a justo malesuada viverra. Cras ut lorem venenatis, scelerisque eros sed, ultricies nunc.
      Nam at vestibulum massa, id varius est. Curabitur volutpat quam non libero fringilla porta. Aenean facilisis risus libero, ac porta diam hendrerit eleifend. Aenean vitae diam vel dolor condimentum aliquam at vel elit. Donec nisl velit, aliquam ut lectus ac, mattis tincidunt metus.
      Morbi sagittis massa eros, et lobortis neque imperdiet id. Maecenas nulla dolor, maximus a suscipit eu, vulputate id diam. Ut neque eros, ornare sed condimentum eget, cursus ut ligula.</h5>
  </div>
 </div>

