<br><br>
<div class="form-group col-md-6">
  <h3>Produto</h3>
  <input type="text" class="form-control"  #produto >
  <p style="display: none" #msgerro1 class="form-text text-muted">ERR0: Insira o nome do produto</p>

</div>
<div class="form-group col-md-6">
  <h3>Preço</h3>
  <input type="number" class="form-control" #preco>
  <p style="display: none" #msgerro2 class="form-text text-muted">ERR0: Insira o preço do produto</p>
</div>
<button type="submit" (click)="Add(produto.value, preco.value, msgerro1, msgerro2)">Adicionar</button>
<br><br>
<table class="table table-dark" >
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let artigo of listaService.listaCompras">
    <td class="m-5" [ngClass]="{'comprados' : artigo.carrinho}">{{artigo.nome}}</td>
    <td class="m-5" [ngClass]="{'comprados' : artigo.carrinho}">{{artigo.preco}}€</td>
  </tr>
</tbody>
</table>
