.cookie{
  bottom: 0%;
  height: 7vh;
  width: 100%;
  position: fixed;
  background-color: orange;
  color:white;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
   animation: animacaoSubir;
  animation-duration: 1s;
}


@keyframes animacaoSubir{
from{bottom: -25vh;}
to{ bottom: 0%;}
}
